<main class="flex flex-col gap-4">
  <div class="flex justify-end">
    <taskapp-task-create></taskapp-task-create>
  </div>
  @if(loading()){
  <div class="flex flex-col items-center w-full">
    <ul class="list bg-base-100 rounded-box w-full max-w-xl">
      <li class="list-col">
        <taskapp-task-item-skeleton></taskapp-task-item-skeleton>
        <taskapp-task-item-skeleton></taskapp-task-item-skeleton>
        <taskapp-task-item-skeleton></taskapp-task-item-skeleton>
      </li>
    </ul>
  </div>
  }

  @if(!loading()){
  @for(date of groupedDates; track date){ <!-- DATE HEADER -->
  <div class="text-2xl font-medium font-mono tracking-tight w-full text-center">
    {{ date }}
  </div>
  <div class="flex flex-col items-center w-full">
    @for(task of groupedTasks[date]; track task.id){
    <taskapp-task-item [task]="task" class="w-full max-w-xl"></taskapp-task-item>
    }
  </div>
  }

  }


</main>