<div class="navbar bg-base-100">
    <div class="navbar-start">
        <button class="btn btn-ghost !bg-transparent !bg-none !border-transparent text-xl">
            Task App
        </button>
    </div>

    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
            <li><a href="/">Home</a></li>
            <li>
                <details #taskMenu>
                    <summary>Tasks</summary>
                    <ul class="z-30">
                        <li><a href="/tasks">All</a></li>
                    </ul>
                </details>
            </li>
        </div>
    </div>
</div>